@import 'reset';
@import 'fonts';
@import 'vars';
@import 'global';

.wrapper {
  padding: 0 30px;
}

.header {
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 50px;
  background-image: $supersoft;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;


  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    left: -10px;
    background-image: url('../images/symbol.png');
    background-repeat: no-repeat;
    background-position: 104%;
    background-size: cover;
  }

  &-services {
    margin-bottom: 83px;

    &::after {
      display: none;
    }
  }

  &__services-page {
    margin-top: 29px;
  }

  &__top {
    position: relative;
    z-index: 1000;
  }

  &__top-info {
    padding: 13px 15px;
    background-color: rgba(#fff, 0.2);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-item:nth-child(2),
  &__list-item:last-child,
  .menu {
    display: none;
  }

  &__list-add {
    @extend %montserrat-400;
    color: $text;
    line-height: 19.5px;
  }

  &__list-num {
    color: #fff;
  }

  &__top-lang {
    font-size: 0;
  }

  &__top-link {
    margin: 0;
    padding: 5px 7px;
    @extend %btn;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;

    &--active {
      padding: 5px 7px;
      background: $accent;
      border-radius: 7px;
    }
  }

  &__top-inner .wrapper {
    padding: 15px 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 32px;
  }

  &__logo-span {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    @extend %montserrat-400;
    color: #fff;

    &::before {
      position: absolute;
      content: '';
      width: 12px;
      height: 26px;
      top: 0px;
      left: 4px;
      background-image: url('../images/slash.png');
      background-position: center;
      background-size: contain;
    }
  }

  &__toggle-btn {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    @extend %btn;

    &::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background-color: #fff;
      top: 7px;
      left: 7px;
      box-shadow: 0 6px 0 0 #fff, 0 12px 0 0 #fff;
    }

    &:active {
      background: $separator;
    }
  }

  .menu-visible {
    position: absolute;
    margin: 0 8px;
    display: block;
    width: calc(100% - 16px);
    height: 80vh;
    top: 40vh;
    left: 0;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &__btn {
      position: absolute;
      top: 6px;
      right: 3px;
      @extend %btn;
    }

    &__btn-img {
      width: 32px;
      height: 32px;
    }
  }

  .menu-visible {
    padding: 10vh 12px 12px;
  }

  .menu-visible .menu {

    &__item {
      margin-bottom: 15px;
      padding: 7px 0;
      display: flex;
      justify-content: center;
      background: $bg;
      border-radius: 12px;

      &:active {
        background: $separator;
      }

      &--active {
        .menu__link {
          color: $accent;
        }
      }
    }

    &__link {
      width: 100%;
      text-align: center;
      font-size: 24px;
      color: $regular;
    }
  }

  &__bottom {
    position: relative;
    z-index: 500;
  }

  &__bottom .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    margin: 129px auto 157px;
    width: 240px;
    text-align: center;
    font-size: 38px;
    color: #fff;
  }

  &__scroll-btn {
    margin: 0 auto 60px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .3s;

    &:hover {
      border: 1px solid $accent;

      path {
        stroke: $accent;
        transition: all .3s;
      }
    }
  }

  &__info-buttons {
    margin-bottom: 30px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    font-size: 0;
  }

  &__info-button {
    margin-right: 30px;
    padding: 0;
    display: inline-block;
    @extend %btn;
    font-size: 30px;
    color: $text;
    cursor: pointer;

    &:hover {
      color: $accent;
      transition: all .3s;
    }

    &--active {
      background: $red-textrev;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &:hover {
        color: transparent;
      }
    }
  }

  &__info-right {
    padding-top: 30px;
    border-top: 4px solid rgba(#fff, 0.3);
  }

  &__info-title {
    padding-bottom: 30px;
    font-size: 20px;
    color: #fff;
  }

  &__info-text {
    padding-bottom: 30px;
    font-size: 19px;
    @extend %montserrat-400;
    line-height: 30px;
    color: #fff;
  }

  &__entry,
  &__services {
    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 40px);
      height: 10px;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      background: #cacadb;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    &::after {
      content: '';
      position: absolute;
      width: calc(100% - 80px);
      height: 10px;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
      background: #e7e7f2;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  &__services-link {
    @extend %link;
  }

  &__services-title {
    margin: 6px 0 30px;
    font-size: 30px;
    @extend %title;
  }

  &__services-item {
    margin-bottom: 30px;

    &:nth-child(5) {
      margin-bottom: 27px;
    }
  }

  &__services-img {
    margin-bottom: 30px;
    padding: 14px;
    background: #fff;
    border-radius: 24px;
  }

  &__services-itemlink {
    display: block;
    width: 304px;
    font-size: 22px;
    color: $regular;
    &:hover {
      color: $accent;
      transition: all .3s;
    }
  }

  &__services-itemtext {
    margin-top: 16px;
    line-height: 26px;
    @extend %montserrat-400;
    color: #fff;
  }

  &__entry {
    padding-top: 30px;
  }

  &__entry-top {
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 4px solid rgba(#fff, 0.5);
  }

  &__entry-img {
    margin: 0 auto 28px;
  }

  &__entry-title {
    margin-bottom: 28px;
    font-size: 30px;
    @extend %title;
  }

  &__entry-text {
    margin-bottom: 24px;
    font-size: 19px;
    @extend %montserrat-400;
    color: #fff;
    line-height: 30px;
  }

  &__entry-link {
    padding: 18px 30px;
    text-align: center;
    color: #fff;
    line-height: 56px;
    background: $regular;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
  }

  &__entry-listname {
    margin-bottom: 30px;
    font-size: 22px;
    color: #fff;
  }

  &__entry-listgroup {
    margin-bottom: 32px;
  }

  &__entry-item {
    position: relative;
    margin-bottom: 15px;
    padding-left: 14px;

    &::before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      top: 10px;
      left: 0;
      background-color: $accent;
      border-radius: 50%;
    }
  }

  &__entry-desc {
    font-size: 18px;
    @extend %montserrat-400;
    color: #fff;
    line-height: 26px;
  }
}

.team {

  margin-bottom: 80px;

  &__item {
    display: flex !important;
    flex-direction: column;
  }

  &__item {
    padding: 0 30px 30px;
  }

  &__item-img {
    width: auto;
    height: 500px;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__box {
    padding: 30px;
    background: $bg;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  &__link {
    @extend %link;
  }

  &__text {
    margin: 5px 0 30px;
    font-size: 30px;
    @extend %title;
  }

  &__author {
    margin-bottom: 4px;
    display: block;
    line-height: 19.5px;
    color: $text;
  }

  &__author-pos {
    display: block;
    font-size: 14px;
    @extend %montserrat-400;
    line-height: 22px;
    color: $text;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
  }

  .slick-dots li+li {
    margin-left: 5px;
  }

  .slick-dots button {
    background-color: rgba($regular, 0.2);
    width: 16px;
    height: 16px;
    border-radius: 16px;
    border: none;
  }

  .slick-dots .slick-active button {
    background-color: $regular;
  }
}

.companies {

  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $main;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }

  &__item:nth-child(n+7) {
    display: none;
  }

  &__item:first-child {
    background: #1c4280;
  }

  &__item:nth-child(2) {
    background: #143646;
  }

  &__item:nth-child(3) {
    background: #F48B30
  }

  &__item:nth-child(4) {
    background: #9E4DC3;
  }

  &__item:nth-child(5) {
    background: #F48B30;
  }

  &__item:nth-child(6) {
    background: #E2E2E4;
  }

  &__item:nth-child(7) {
    background: #C71C36;
  }

  &__item:nth-child(8) {
    background: #DCF3F9;
  }

  &__item:nth-child(9) {
    background: #EAEAEA;
  }

  &__item:nth-child(10) {
    background: #282240;
  }

  &__item:nth-child(11) {
    background: #1D4568;
  }

  &__item:nth-child(12) {
    background: #000;
  }
}

.publications {
  padding: 28px 0 30px;
  background: $bg;

  &__link {
    @extend %link;
  }

  &__title {
    margin: 5px 0 30px;
    font-size: 30px;
    @extend %title;
    line-height: 36.57px;
  }

  &__item {
    margin-bottom: 30px;
    border-radius: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-img {
    height: 200px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &__box {
    padding: 30px;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  &__item-title {
    color: $regular;
    line-height: 19.5px;
  }

  &__date {
    margin-bottom: 15px;
    padding: 16px 0;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    color: $text;
    text-transform: uppercase;
    border-bottom: 4px solid $separator;
  }

  &__text {
    font-size: 14px;
    @extend %montserrat-400;
    line-height: 22px;
  }
}

.footer {
  background: $bg;

  &__container {
    padding: 29px 0 20px;
    border-top: 2px solid $separator;

    &-services {
      border-top: none;
    }
  }

  &__inner {
    text-align: center;
  }

  &__loc-text {
    padding-bottom: 7px;
    display: block;
    @extend %montserrat-400;
    color: $main;
  }

  &__loc-map {
    margin-bottom: 21px;
  }

  &__loc-link {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $regular;
  }

  &__info-item {
    margin-bottom: 10px;
  }

  &__info-img {
    margin: 0 auto;
  }

  &__info-num {
    color: $main;
  }

  &__info-mail {
    color: $regular;
  }

  &__rights {
    margin-top: 33px;
  }

  &__rights-span {
    display: block;
    text-align: center;
    @extend %montserrat-400;
    color: $text;
  }
}

@media screen and (min-width: 600px) {
  .header {

    &::after {
      height: 880px;
      top: 0px;
      left: -50px;
    }

    &__top-info {
      padding: 20px 35px;
    }

    &__top-inner {
      padding: 15px 35px 10px;
    }

    &__top-logo {
      width: auto;
      height: 46px;
    }

    &__logo-span {
      padding-left: 25px;
      font-size: 24px;

      &::before {
        width: 14px;
        height: 31px;
        top: 0;
        left: 5px;
      }
    }

    &__title {
      margin: 239px auto 329px;
      width: 400px;
    }

    .menu {
      &__item {
        padding: 15px 0;
      }
    }

    &__info-button,
    &__services-title {
      font-size: 38px;
    }
  }

  .team {
    &__text {
      font-size: 38px;
    }
  }

  .companies {
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__item:nth-child(n+7) {
      display: flex;
    }

    &__link {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .publications {
    &__title {
      font-size: 38px;
    }

  }

  .footer {
    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
    }

    &__loc {
      display: flex;
      order: 1;
    }

    &__loc-map {
      position: relative;
      margin-left: 25px;

      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        top: 7px;
        left: -15px;
        background-image: url('../images/dot.png');
      }
    }

    &__info {
      display: flex;
      align-items: center;
      order: 3;
    }

    &__info-item {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        top: 7px;
        left: -15px;
        background-image: url('../images/dot.png');
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }

    &__info-item+.footer__info-item {
      margin-left: 26px;
    }

    &__rights {
      order: 2;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 768px) {

  .wrapper {
    padding: 0 60px;
  }

  .header {
    padding-bottom: 0;
    margin-bottom: 75px;

    &-services {
      margin-bottom: 81px;
    }

    &::after {
      height: 1030px;
      top: -5px;
      left: -75px;
      background-position: center;
      background-size: contain;
    }

    &__top {
      display: flex;
      flex-direction: column;
    }

    &__top-info {
      padding: 50px 60px 30px;
      background: transparent;
    }

    &__top-logo {
      width: auto;
      height: 60px;
    }

    &__logo-span {
      padding-left: 30px;
      font-size: 36px;

      &::before {
        width: 21px;
        height: 47px;
        top: 0;
        left: 5px;
      }
    }

    &__list {
      justify-content: start;
    }

    &__list-item+.header__list-item {
      margin-left: 19px;
    }

    &__list-item {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        top: 7px;
        left: -13px;
        background-image: url('../images/dot-sep.png');
      }

      &:first-child {
        &::before {
          display: none;
        }
      }
    }

    &__list-item:nth-child(2),
    &__list-item:last-child,
    .menu {
      display: inline-block;
    }

    &__list-add {
      @extend %montserrat-400;
      line-height: 19.5px;
    }

    &__top-inner {
      padding: 0;
    }

    &__top-inner .wrapper {
      padding: 0 60px 31px;
    }

    .menu {
      &__list {
        display: flex;
      }

      &__item+.menu__item {
        margin-left: 16px;
      }

      &__item {
        padding: 0;

        &--active {
          .menu__link {
            padding-bottom: 3px;
            color: $accent;
            border-bottom: 2px solid $accent;
          }
        }
      }

      &__link {
        line-height: 19.5px;
        color: #fff;

        &:hover {
          color: $accent;
          transition: all .3s;
        }
      }
    }

    &__toggle-btn {
      display: none;
    }

    .menu-visible {
      padding: 10vh 12px 12px;

      &__btn {
        display: none;
      }
    }

    &__title {
      margin: 274px auto 417px;
      width: auto;
    }

    &__scroll-btn {
      margin: 0 auto 90px;
    }

    &__info-buttons {
      margin-bottom: 58px;
    }

    &__info-right {
      padding-top: 60px;
    }

    &__info-title {
      font-size: 30px;
    }

    &__info-text {
      padding-bottom: 60px;
    }

    &__services-page {
      margin-top: 66px;
    }

    &__services-title {
      margin: 10px 0 56px;
      line-height: 46.32px;
    }

    &__services-inner {
      padding-bottom: 34px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 60px;
    }

    &__services-item {
      margin-bottom: 0;
      width: 294px;
    }

    &__entry {
      padding-top: 60px;
    }

    &__entry-top {
      padding-bottom: 60px;
    }

    &__entry-img {
      margin-bottom: 32px;
    }

    &__entry-title {
      font-size: 38px;
    }

    &__entry-list {
      display: flex;
      column-gap: 60px;
    }

    &__entry-listgroup {
      margin-bottom: 44px;
      width: calc(50% - 30px);
    }
  }

  .team {
    margin-bottom: 78px;

    &__item {
      padding: 0 60px 30px;
    }
  }

  .companies {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .publications {

    &__title {
      margin-top: 16px;
      margin-bottom: 33px;
    }

    &__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      gap: 30px;
    }

    &__item {
      margin-bottom: 0;
      flex-basis: calc(50% - 15px);
      width: 100%;
      background: #fff;

      &:last-child {
        flex-basis: 100%;
      }
    }
  }

  .footer {

    &__container {
      padding: 0 0 20px;
    }

    &__rights {
      margin-top: 28px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {

    &::after {
      width: 57%;
      height: 769px;
      top: 0;
      left: 45%;
      transform: translate(-50%);
      background-size: contain;
    }

    &__top {
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    &__content {
      margin-bottom: 42px;
    }

    &__top-info,
    &__top-inner .wrapper {
      padding-bottom: 0;
    }

    &__top-logo {
      margin-top: 50px;
    }

    .menu {
      width: 100%;

      &__list {
        margin-top: -18px;
        justify-content: end;
      }
    }

    &__list-item+.header__list-item {
      margin-left: 18px;
    }

    &__title {
      margin: 250px auto 288px;
      width: auto;
    }

    &__info {
      display: flex;
    }

    &__info-buttons {
      margin-bottom: 0;
      padding-top: 12px;
      padding-right: 60px;
      overflow: visible;
      white-space: unset;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: end;
      border-right: 4px solid rgba(#fff, 0.3);
    }

    &__info-button {
      margin: 0 0 30px auto;
      width: 375px;
      text-align: end;
    }

    &__info-right {
      padding-top: 0;
      width: 170%;
      border-top: none;
    }

    &__info-item {
      padding-left: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      height: 303px;
    }

    &__info-text {
      padding-bottom: 0;
    }

    &__services-item {
      width: 261px;
    }

    &__services-itemlink {
      width: 261px;
    }
  }

  .team {

    &__item {
      padding-bottom: 26px;
      flex-direction: row;
      align-items: stretch;
    }

    &__item-img {
      width: 400px;
      height: auto;
      border-top-right-radius: 0;
      border-bottom-left-radius: 12px;
    }

    &__box {
      width: calc(100% - 400px);
      border-bottom-left-radius: 0;
      border-top-right-radius: 12px;
    }
  }

  .companies {
    &__list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .publications {
    padding: 29px 0 30px;

    &__inner {
      flex-wrap: nowrap;
    }

    &__item {
      width: 100%;
      flex-basis: auto;
    }
  }

  .footer {
    &__container {
      padding: 0 0 16px;
    }

    &__info {
      width: 100%;
    }

    &__rights {
      margin-top: 31px;
    }
  }
}

@media screen and (min-width: 1140px) {
  .header {
    &__services-item {
      width: 300px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &::after {
      height: 800px;
      left: 46%;
    }

    &__title {
      margin: 265px 0 305px;
    }

    &__info-right {
      width: 146%;
    }

    &__info-item {
      padding-top: 43px;
      display: block;
    }

    &__info-text {
      width: 582px;
    }

    &__services-item {
      width: 400px;
    }

    &__services-itemlink {
      width: 400px;
    }

    &__entry .wrapper {
      margin: 0 auto;
      max-width: 83%;
    }
  }

  .team {
    &__item-img {
      max-height: 350px;
    }
  }
}

@media screen and (min-width: 1900px) {
  .header {
    &__services-item {
      width: 493px;
    }
  }
}

@media screen and (min-width: 1920px) {

  .wrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
  }

  .header {
    &::after {
      height: 1000px;
    }

    &__top {
      margin: 0 auto;
      max-width: 1600px;
    }

    &__top-info {
      padding: 50px 0 30px;
    }

    &__top-inner .wrapper {
      padding: 0;
    }

    &__title {
      margin: 365px 0 405px;
    }

    &__info-right {
      width: 202%;
    }

    &__info-item {
      padding-top: 74px;
    }

    &__info-text {
      width: 893px;
    }

    &__services-itemlink {
      width: 407px;
    }

    &__services-item:nth-child(2) .header__services-itemlink {
      width: 304px;
    }

    &__entry .wrapper {
      margin: 0 auto;
      max-width: 71%;
    }
  }

  .team {
    &__inner {
      margin: 0 auto;
      max-width: 1600px;
    }

    &__item {
      padding: 60px 0 30px;
      height: 390px;
    }
  }

  .companies {
    &-services {
      margin-bottom: 60px;
    }

    &__list {
      margin: 0 auto 60px;
      max-width: 1720px;
      border-radius: 12px;
    }

    &__item:first-child {
      border-top-left-radius: 12px;
    }

    &__item:nth-child(4) {
      border-top-right-radius: 12px;
    }

    &__item:nth-child(9) {
      border-bottom-left-radius: 12px;
    }

    &__item:last-child {
      border-bottom-right-radius: 12px;
    }
  }
}